@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

@if (ViewBag.IsAdmin)
{
    <a data-role="button" class="margin10" data-icon="heart" onclick="redirect('/Database/Index')">Управление БД</a>
}

<a data-role="button" class="margin10" data-icon="bullets" onclick="redirect('/Dictionary/Index')">Управление словарями</a>

<script type="text/javascript">
    backUrl = "/Home/Index";
</script>